apiVersion: apps/v1
kind: Deployment
metadata:
  name: gym-investire-iscritto-web
  labels:
    app.kubernetes.io/name: gym-investire-iscritto-web
spec:
  replicas: 1
  revisionHistoryLimit: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: gym-investire-iscritto-web
  template:
    metadata:
      labels:
        app.kubernetes.io/name: gym-investire-iscritto-web
    spec:
      containers:
        - name: nginx
          image: gym-investire-iscritto-web
          imagePullPolicy: IfNotPresent
          ports:
            - name: http
              containerPort: 80
          volumeMounts:
            - name: nginx-config
              mountPath: /etc/nginx/conf.d/default.conf
              subPath: default.conf
          readinessProbe:
            httpGet:
              path: /
              port: http
            initialDelaySeconds: 5
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /
              port: http
            initialDelaySeconds: 10
            periodSeconds: 20
      volumes:
        - name: nginx-config
          configMap:
            name: cmap-gym-investire-iscritto-web
