apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - deployment.yaml
  - service.yaml

images:
  - name: gym-investire-iscritto-web
    newName: 10.43.107.205/gym-investire-iscritto-web
